* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
   scroll-behavior: smooth;
}
body {
   font-family: 'Pacifico', cursive;
   background-image: url(../images/wallpaper.jpg);
   background-size: cover;
}
@media (max-width:767px) {
    body {
       background-image: url(../images/mobile.webp); 
    } 
}
.row {
   display: grid;
   grid-template-columns: repeat(2, auto);
   justify-content: center;
   margin: 150px; 
}
@media (max-width: 767px) {
   .row {
      grid-template-columns: 1fr;
   } 
}
.row .card-item {
   width: 400px;
   height: 580px; 
   background-color: rgba(0, 0, 0, 0.7);
   border-radius: 10px;
   margin: 10px;
   padding: 25px;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
   .row .card-item {
      margin-top: 25px;
      width: 380px;
      height: 550px;
   } 
}
.row .card-box {
   width: 90px;
   height: 90px;
   border: 3px solid black;
   border-radius: 50px;
   margin: auto;
   transition: 0.3s;
}
.row .card-box:hover {
   width: 110px;
   height: 110px; 
}
.row .card-box img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50px;
}
h3 {
   font-weight: 500; 
   margin-top: 10px;
   font-size: 22px;
   text-align: center;
   color: #f9f9f9de;
}
p {
  font-weight: 300;  
  font-size: 18px; 
  margin-top: 15px;
  text-align: center;
  color: #faecd1;
}
.bio {
  font-family: cursive;  
  font-size: 16px;
  line-height: 1.8;
  color: #999;  
}
.button-box {
   margin-top: 20px;
   display: flex;
   justify-content: center;
   font-size: 16px;
   font-family: cursive; 
}
button {
   width: 40%;
   padding: 8px 5px;
   border: none;
   border-radius: 8px;
   background-color: rgba(0, 0, 0, 0.6);
   color: #f9f9f9de; 
}
button:hover {
  background-color: rgba(0, 0, 0, 1);  
}

